{% extends 'base.html' %}
{% load static %}

{% block title %}
  Potwierdzenie Darowizny
{% endblock %}

{% block content %}
<div class="header-image" style="background-image: url('{% static "images/header-form-bg.jpg" %}'); background-size: cover; background-position: left center; height: 800px; display: flex; align-items: center; justify-content: center;">
  <div class="slogan container container--70" style="background: rgba(255, 255, 255, 0.7); padding: 20px; border-radius: 10px;">
    <h2>
      Dziękujemy za przesłanie formularza. Na maila prześlemy wszelkie informacje o odbiorze.
    </h2>
  </div>
</div>
{% endblock %}
